src/main/mule/tradeDbo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	
	<flow name="tradeDboFlow" doc:id="a53494b3-63e1-4bee-ad90-a9fc8694f111" >
		<logger level="INFO" doc:name="Logger" doc:id="b1418cee-ffb4-4f0d-965d-df9fefade415" />
		<db:select doc:id="d4503f34-e142-407f-a320-1199e2b6a226" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from dbo.equity]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="7c34603c-34b7-4865-9302-ca877c93b67b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="2259db5b-461f-4d5d-8350-cb07ac326273" message="#[payload]"/>
	</flow>
	<sub-flow name="process-trade-dbo-subflow" doc:id="c5440859-edc3-45ad-9b6a-1aae8bb364b7" >
		<logger level="INFO" doc:name="Logger" doc:id="f0379932-fbac-463e-9a5a-eecebca91897" message='#["incoming data recieved into Dbo correlationId: " ++ correlationId]'/>
		<choice doc:name="Choice" doc:id="d8f9561b-643a-432a-81d2-63bdfb1c77dc" >
			<when expression='#[lower(payload."type") =="equity"]'>
				<logger level="INFO" doc:name="Logger" doc:id="6947a340-51f2-4145-8734-b50c7be75fda" message='#["succefully equity trade correlationId: " ++ correlationId]'/>
				<ee:transform doc:name="Transform Message" doc:id="4dba5d1d-2498-48bf-856f-0a318323c804" >
					<ee:message >
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="sqlQuary" ><![CDATA[%dw 2.0
output application/java
---
"insert into notesapp.equity
(`index`, symbol, operation, quantity, price, createdDate)
values
(
    :index,
    :symbol,
    :operation,
    :quantity,
    :price,
    :createdDate
)"]]></ee:set-variable>
						<ee:set-variable resource="dw/mapData.dwl" variableName="sqlInputParameters" />
					</ee:variables>
				</ee:transform>
				<flow-ref doc:name="trade-insert-dbo-subflow" doc:id="3806cbbb-c73c-48c7-9cb3-00f929a51098" name="trade-insert-dbo-subflow"/>
				<ee:transform doc:name="Transform Message" doc:id="99fd06fa-4192-4908-b1ae-642d276dad96" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  status: "trade processed successfully"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<when expression='#[lower(payload."type") =="fx"]'>
				<logger level="INFO" doc:name="Logger" doc:id="7989a4cc-25c1-4497-a11a-917512073ead" message='#["succefully fx trade correlationId: " ++ correlationId]'/>
				<ee:transform doc:name="Transform Message" doc:id="461cbcc4-2341-47a6-9a7a-e39c45e821ad" >
					<ee:message >
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="sqlQuary" ><![CDATA[%dw 2.0
output application/java
---
"insert into notesapp.equity
(`index`, symbol, operation, quantity, price, createdDate)
values
(
    :index,
    :symbol,
    :operation,
    :quantity,
    :price,
    :createdDate
)"]]></ee:set-variable>
						<ee:set-variable resource="dw/mapData.dwl" variableName="sqlInputParameters" />
					</ee:variables>
				</ee:transform>
				<flow-ref doc:name="Flow Reference" doc:id="b28bb8d3-bd5c-4738-a933-daeaf606d721" name="trade-insert-dbo-subflow"/>
				<ee:transform doc:name="Transform Message" doc:id="0b52df87-2812-417c-9e17-cce74fd82e5d" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  status: "trade processed successfully"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="bc35b3dd-05a9-4463-89a6-dea0b3f9b0b9" message='#["unsuccefully trade correlationId: " ++ correlationId]'/>
			</otherwise>
		</choice>
	</sub-flow>
	<sub-flow name="trade-insert-dbo-subflow" doc:id="f8cb5682-13fb-43e5-b6a3-568a2b3e18c1" >
		<logger level="INFO" doc:name="Logger" doc:id="76e4b43d-a760-4c36-a5bf-61e769a8915c" message="#[payload]"/>
		<db:insert doc:name="Insert" doc:id="4bcd4b95-e9a5-41c9-a6f4-d6a720ae3860" config-ref="Database_Config">
			<db:sql ><![CDATA[#[vars.sqlQuary]]]></db:sql>
			<db:input-parameters ><![CDATA[#[vars.sqlInputParameters]]]></db:input-parameters>
		</db:insert>
		<logger level="INFO" doc:name="Logger" doc:id="436e7121-eb51-4cd6-b087-2c0067f42cb2" message="data inserted "/>
	</sub-flow>
</mule>
